<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <title>Document</title>
  <style>
    #action {
      font-style: italic;
      cursor: pointer;
    }

    #adminLayout {
      display: flex;
      flex-direction: row;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #full {
      display: flex;
      flex-direction: row;
    }

    #welcome {
      margin-left: auto;
    }

    #content {
      flex: 1;
    }

    #logout {
      text-decoration: none;
      color: blue;
      margin-left: 1%;
    }

    #nav {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    #home {
      margin-left: auto;
    }

    #categories {
      padding: 1%;
    }

    #categoriesFields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    #allData {
      padding: 5%;
      display: flex;
      flex-direction: column;
    }

    #categoryBox {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    #download {
      margin-left: auto;
      background-color: #65b741;
    }

    #assignRole {
      margin-left: auto;
      background-color: #65b741;
    }
  </style>
</head>

<body>
  <div id="full">
    <div id="sideBar"><%- include('../layouts/adminLayout') %></div>
    <div id="content">
      <div id="topNav">
        <span id="welcome">Welcome <%= userType %></span>
        <a onclick="logout()" id="logout">Logout</a>
      </div>
      <div id="afterNav">
        <div id="nav">
          <h3>Access Roles</h3>
          <span id="home">Home / Access Roles</span>
        </div>
        <div id="dis">
          <div id="categoryBox">
            <span>Access Roles</span>
            <button id="assignRole" onclick="redirect()">Assign Role</button>
          </div>

          <div id="allData">
            <table>
              <thead>
                <tr>
                  <th>S. No.</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                <% subAdmins.forEach(object => { %>
                <tr>
                  <td><%= serialNumber %><% serialNumber+=1 %></td>
                  <td><%= object.first_name %></td>
                  <td><%= object.last_name %></td>
                  <td><%= object.email %></td>
                  <td><%= object.user_type %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function redirect() {
      window.location.href = "/assignRoles";
    }

    function logout() {
      const options = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
      };

      fetch("/logout", options)
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
        })
        .then((data) => {
          window.location.href = "/login";
        })
        .catch((error) => {
          console.error("Error:", error); // Handle errors
        });
    }
  </script>
</body>

</html>